# folder logs
logs/
# Добавляем новых в список , список сохраняется в localsor  поэтому при перезагрузке он сохраняется. В листе мы либо выбираем персонал в смену или  дезактивируем из неё. По кнопке удалить мы полностью удаляем из списка и памяти. Можно еще придумать всплывающие подсказки.